.widghetFeald {
    border: 2px solid rgb(154, 161, 158);
    box-shadow: 5px 5px 5px;
    border-radius: 5px;
    margin: 10px;
    padding-top: 10px;
    background-color: rgb(69, 182, 226);
    color: rgb(227, 245, 242);
}