ul {
    margin: 0 auto;
    padding: 0;    
}

li {
    list-style: none;
}

.main-feald {
    margin: 10px;
}

.country-item {
    margin: 8px;   
    border: 1px solid rgb(212, 220, 228); 
    border-radius: 10px;
    box-shadow: rgb(136, 128, 128) 1px 5px 5px;
}