.App {
  text-align: center;
}

.App-logo {
  width: 80px;
  pointer-events: none;
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #70beeb;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
a {    
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
